# Python cache bestanden
__pycache__/
*.pyc
*.pyo
*.pyd

# Geheime configuratie (Niet uploaden!)
# Specifiek de paden die in je foutmelding stonden
box_config.json
config/serviceAccountKey.json
service-account-key.json
*.env

# Node Modules (De oorzaak van je enorme lijst)
node_modules/
functions/node_modules/

# Omgevingen (Virtual Environments)
venv/
env/
.env
.venv/

# Windows systeem & IDE bestanden
.DS_Store
.vscode/
.idea/
Thumbs.db