# Python cache bestanden
__pycache__/
*.pyc

# Firebase en andere geheime configuratie-bestanden (Cruciaal!)
*.json
*.env
service-account-key.json

# Omgevingen
venv/
env/
.env

# Windows systeem bestanden
.DS_Store
.vscode/
Thumbs.db