[Unit]
Description=Gridbox IoT Service
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/dijkmans-gridbox-platform-next2
ExecStart=/usr/bin/python3 src/listener.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
